
/* ===============================
    Project Page
=============================== */

.project-hero, .container-fluid {
    height: 100%;
}

.project-img {
    height: 100%;
    background: url('assets/img/test1.jpg');
    background-size: cover;
}

.project-color {
    background: #fef200;
    position: relative;
    top: 50%;
    width: 100%;
    padding: 0 !important;
}

.project-color .scroll-section {
    width: 100%;
    height: 50%;
    color: #333;
    cursor: pointer;
    -webkit-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    -moz-transition: all .5s;
}

.project-color .scroll-section:hover {
    background: #333;
    color: #fef200;
}

.project-color p {
    font-size: 2em;
    text-align: center;
    font-weight: 900;
    position: relative;
    top: calc(40% - 1em);
}

.project-color img {
    height: 50%;
    padding-top: 20%;
    position: absolute;
    top: -50%;
    left: 0;
    right: 0;
    margin: 0 auto;
}

h1.project-title {
    text-transform: uppercase;
    font-style: italic;
    text-shadow: -3px 3px #fef200;
    position: absolute;
    z-index: 99;
    width: 500px;
    left: 35%;
    top: calc(50% - 1em);
    color: #333;
    -webkit-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    -moz-transition: all .5s;
}

h1.project-title:hover {
    text-shadow:
        -1px -1px 0 #333,
        1px -1px 0 #333,
        -1px 1px 0 #333,
        1px 1px 0 #333; 
    transition: all .5s;
    color: #fef200;
}






.project-color .scroll-section:hover .scroll-down span,
.project-color .scroll-section:hover .scroll-down span::before,
.project-color .scroll-section:hover .scroll-down span::after
 {
    background: #fef200;
     background-color: #fef200;
     transition: all .5s;
     -webkit-transition: all .5s;
     -ms-transition: all .5s;
     -moz-transition: all .5s;
     -o-transition: all .5s;
}

.scroll-down {
    display: block;
    z-index: 99999;
    width: 96px;
    height: 196px;
    position: absolute;
    bottom: 47%;
    left: calc(50% - 48px);
    border: none;
    cursor: pointer;
    background: rgba(254, 242, 0, 0);
    transition: background 0.3s;
    transform: rotate(0deg);
    transition: all 1.2s;
    -webkit-transition: all 1.2s;
    -ms-transition: all 1.2s;
    -moz-transition: all 1.2s;
    -o-transition: all 1.2s;
}

.scroll-down:focus {
    outline: none;
}
.scroll-down span {
    display: block;
    position: absolute;
    top: 44px;
    left: 9px;
    right: 9px;
    height: 3px;
    background: #333;
    -webkit-transition: all .5s;
    -ms-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
}

.scroll-down span::before,
.scroll-down span::after {
    position: absolute;
    display: block;
    left: 0;
    height: 3px;
    background-color: #333;
    content: "";
    width: 50% !important;
    transition: all .3s !important;
    -webkit-transition: all .5s;
    -ms-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
}

.scroll-down span::before {
    transform-origin: top left !important;
    top: 0 !important;
    transform: translateX(-3px) translateY(1.5px) rotate(-45deg) !important;
    transition: all .3s !important;
}

.scroll-down span::after {
    transform-origin: bottom left !important;
    bottom: 0 !important;
    transform: translateX(-3px) translateY(-1.5px) rotate(45deg) !important;
    transition: all .3s !important;
}

.scroll-down span {
    transition: background 0s 0.3s;
    transform: rotate(270deg) !important;
}

.scroll-down::before {
    transition-property: top, transform;
}

.scroll-down::after {
    transition-property: bottom, transform;
}

.bounce {
    -webkit-animation: bounce 2.5s infinite;
    animation: bounce 2.5s infinite;
}

@-webkit-keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        top: 44px;
        -webkit-top: 44px;
    }
    40% {
        top: 64px;
        -webkit-top: 64px;
    }
    60% {
        top: 44px;
        -webkit-top: 54px;
    }
}
@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        top: 44px;
        -webkit-top: 44px;
    }
    40% {
        top: 64px;
        -webkit-top: 64px;
    }
    60% {
        top: 44px;
        -webkit-top: 54px;
    }
}






#project-one {
    height: 100%;
    width: 100%;
}

.project-color2 {
    padding: 50px 0;
    position: relative;
    right: 20%;
    max-height: 50%;
    top: 50%;
    transform: translateY(-50%);
}

#project-one p span {
    color: #333;
    line-height: 1.9em;
    background: -webkit-linear-gradient(bottom, #fef200 100%, transparent 90%, transparent);
    background: linear-gradient(to top, #fef200 100%, transparent 100%, transparent);
}

#project-one, .row, .col-sm-6 {
    height: 100%;
}

.project-color2 p {
    line-height: 3em;
}

.project-img2 {
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

#project-one h1 {
    color: #333;
    text-shadow:
}








