/* ===============================
		Home Page
		=============================== */
figure
	height: 100vh

html
	padding: 0px !important
	margin: 0px !important

h1, h2
	text-align: center
	text-decoration: underline

p.square-label
	text-align: center

h2#encrypt-result, h2#decrypt-result
	text-decoration: none
	span
		font-weight: bold

#solver-container
	margin-top: 50px

button
	width: 100%
	text-align: center
	margin-bottom: 15px

.grid
	.col-sm-2
		border: 1px solid #999
