---
---

$small: 768px;

@import "common";

canvas {
  display: block;
}

section#home-content {
  position: absolute;
  text-align: right;
  width: 100%;
  bottom: 8%;

  @media screen and (max-width: $small) {
    bottom: 2%;
  }

  #about-info {
    display: none;
    margin: 0 0 0 auto;
    opacity: 0;
    padding-bottom: 30px;
    position: relative;
    overflow-y: auto;
    width: 50%;

    @media screen and (max-width: $small) {
      width: 100%;
      font-size: 14px;
      padding-bottom: 0px;
    }

    em {
      color: $primaryDarker;
      font-size: 1.3em;
    }

    button {
      background: none;
      border: 3px solid $primaryColor;
      border-radius: 4px;
      color: $primaryColor;
      cursor: pointer;
      font-style: italic;
      transition: all 0.2s;

      &:hover {
        color: $primaryDarker;
        border-color: $primaryDarker;
      }

      p {
        margin: 7px 0;
      }
    }
  }

  .bottom {
    h1 {
      font-size: 3em;

      @media screen and (max-width: $small) {
        font-size: 1.5em;
      }
    }

    h1,
    h2,
    ul {
      margin: 5px 0;
    }

    button {
      background: none;
      border: 3px solid $primaryColor;
      border-radius: 4px;
      color: $primaryColor;
      cursor: pointer;
      transition: all 0.2s;

      @media screen and (max-width: $small) {
        font-size: 14px !important;
      }

      &:hover {
        color: $primaryDarker;
        border-color: $primaryDarker;
      }
    }

    ul {
      list-style: none;

      li {
        display: inline;
        font-size: 2em;

        @media screen and (max-width: $small) {
          font-size: 1.5em;
        }

        a {
          color: $primaryColor;
          padding: 0 4px;
          transition: all 0.2s;

          &:hover {
            color: $primaryDarker;
          }
        }
      }
    }
  }
}
