---
---

@import "common";

canvas {
  display: block;
}

section#home-content {
  position: absolute;
  text-align: right;
  width: 100%;
  bottom: 5%;

  #about-info {
    display: none;
    margin: 0 0 0 auto;
    opacity: 0;
    padding-bottom: 10vh;
    position: relative;
    width: 50%;

    button {
      background: none;
      border: 3px solid $primaryColor;
      border-radius: 4px;
      color: $primaryColor;
      cursor: pointer;
      font-style: italic;
      transition: all 0.2s;

      &:hover {
        color: $primaryDarker;
        border-color: $primaryDarker;
      }

      p {
        margin: 7px 0;
      }
    }
  }

  .bottom {
    h1 {
      font-size: 3em;
    }

    h1,
    h2,
    ul {
      margin: 5px 0;
    }

    button {
      background: none;
      border: 3px solid #000;
      border-radius: 4px;
      cursor: pointer;
      transition: all 0.2s;

      &:hover {
        color: $primaryDarker;
        border-color: $primaryDarker;
      }
    }

    ul {
      list-style: none;

      li {
        display: inline;
        font-size: 2em;

        a {
          color: $primaryColor;
          padding: 0 4px;
          transition: all 0.2s;

          &:hover {
            color: $primaryDarker;
          }
        }
      }
    }
  }
}
