---
---

.post-list {
  display: flex;
  flex-wrap: wrap;

  li {
    flex: calc(50% - 20px);
    padding: 0 10px;
    margin: 20px 0;

    @media (max-width: 768px) {
      flex: 100%;
      padding: 0 0;
    }
  }
}
