---
---

// Overide theme styles
@import "minima";

p > img {
  display: block;
  margin: 0 auto;
  max-height: 800px;
  max-width: 100%;
}

.center {
  text-align: center;
}

.wrapper {
  max-width: -webkit-calc(1000px - (30px * 2));
  max-width: calc(1000px - (30px * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px;
}

p.caption {
  color: #444;
  font-style: italic;
  margin-bottom: 25px;
  text-align: center;
}

table {
  border-width: 0px;
  display: block;
  margin: 0 auto 30px auto;
  overflow-x: auto;
  width: fit-content;
  white-space: nowrap;
}
