---
---

// Overide theme styles
@import "minima";
@import "common";

p > img {
  background: #ffffff;
  display: block;
  margin: 0 auto;
  max-height: 800px;
  max-width: 100%;
}

code,
.highlighter-rouge .highlight {
  @media (prefers-color-scheme: dark) {
    background: #444444;
  }
}

.center {
  text-align: center;
}

.wrapper {
  max-width: -webkit-calc(1000px - (30px * 2));
  max-width: calc(770px - (30px * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px;
}

.footer-col-wrapper,
.post-meta {
  @media (prefers-color-scheme: dark) {
    color: $primaryDarker--dark;
  }
}

p.caption {
  color: $primaryDarker;
  font-style: italic;
  margin-bottom: 25px;
  text-align: center;

  @media (prefers-color-scheme: dark) {
    color: $primaryDarker--dark;
  }
}

table tr:nth-child(even) {
  @media (prefers-color-scheme: dark) {
    background-color: darken($bgColor--dark, 6) !important;
    color: $bgColor;
  }
}

th {
  @media (prefers-color-scheme: dark) {
    background-color: darken($bgColor--dark, 10) !important;
  }
}

table tr:nth-child(odd) {
  background-color: $bgColor;

  @media (prefers-color-scheme: dark) {
    background-color: $bgColor--dark;
    color: $bgColor;
  }
}
@media (prefers-color-scheme: dark) {
  .highlight .nn {
    color: #ccc;
  }

  .highlight .nf,
  .highlight .s,
  .highlight .s2,
  .highlight .sc {
    color: #ff6161;
  }

  .highlight .na {
    color: #06b9b9;
  }

  .highlight .nc,
  .highlight .kt,
  .highlight .nt {
    color: #7c9dff;
  }
}
