---
layout: default
---

<!-- Custom Styles -->
<link rel="stylesheet" href="/assets/css/posts.css" />

<div class="home">
  {%- if page.title -%}
  <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%} {{ content }} {%- if site.posts.size > 0 -%}
  <h2 class="post-list-heading">{{ page.list_title | default: "Projects" }}</h2>
  <ul class="post-list">
    {%- for post in site.posts -%} {% if post.categories contains 'projects' %}
    <li>
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y"
      -%}
      <span class="post-meta">{{ post.date | date: date_format }}</span>
      <h3>
        <a class="post-link" href="{{ post.url | relative_url }}">
          {{ post.title | escape }}
        </a>
      </h3>
      {%- if post.image -%}
      <div class="post-image">
        <img
          src="{{ post.image | relative_url }}"
          alt="{{ post.title | escape }} feature image"
        />
      </div>
      {% endif %} {%- if site.show_excerpts -%} {{ post.excerpt }} {%- endif -%}
    </li>
    {% endif %} {%- endfor -%}
  </ul>
  {%- endif -%}
</div>
